
<div class="offcanvas offcanvas-start" tabindex="-1" id="followingButton" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Users followed by <%= user.username %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <% @user.all_following.each do |user| %>
      <%= link_to user_path(user) do %>
        <%= render "user_card_follow", user: user %>
     <% end %>
   <% end %>

  </div>
</div>
