<div class="user-review-card shadowed-box">
  <%= cl_image_tag review.user.avatar.key, class:"avatar-large"  %>
  <div class="user-review-card-content">
    <p><small><%= "#{review.user.username} was there !" %></small></p>
    <p><strong><%= review.artist.name %></strong></p>
    <p><%= "#{review.concert.city} - #{review.concert.date.strftime('%d/%m/%Y')} " %></p>
  </div>
</div>
