<%= render "homepage_banner" %>
<div>
  <p>See your friends' latest updates...</p>
</div>

<div class="grid-container">
  <% @reviews.each do |review| %>
  <%= link_to concert_path(review.concert) do %>
    <%= render "user_review_card", review: review %>
  <% end %>
<% end %>
</div>
