<h1>FRONT ROW</h1>
<p>Hello from the homepage!</p>

<p>navbar</p>
<p>banner</p>
<p>reviews feed from following</p>

<%= link_to 'A button', concerts_path, class:"btn" %>
<%= render "user_review_card", review: @review %>
