<%= render "homepage_banner" %>
<div>
  <p>See your friends' latest updates...</p>
</div>
<div class="grid-container">
  <%= render "user_review_card", review: @review %>
  <%= render "user_review_card", review: @review %>
</div>
