<div class="review_card shadowed_box">
  <div class="d-flex">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <h2><%= review.artist.username %></h2>
  </div>
  <p><%= review.content %></p>

</div>
