<div class="concert-card shadowed-box">
  <div class="concert-card-content">
    <p><strong><%= concert.artist.name %></strong></p>
    <p><%= concert.city %></p>
    <p><%= concert.date.strftime('%d/%m/%Y') %></p>
  </div>
</div>
