<div class="shadowed-box review-card">
  <div class="review-card-user">
    <%= cl_image_tag review.user.avatar.key, class:"avatar"  %>
    <p><strong><%= review.user.username %></strong></p>
  </div>
  <div class="review-card-media">
    <%= cl_image_tag review.photos.first.key, class:"square-image"  %>
  </div>
  <div class="review-card-content">
    <p><%= review.content %></p>
  </div>

</div>
