<%= render "concert_banner", concert: @concert %>

<div class="grid-container">
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <%= render "review_card", review: review %>
    <% end %>
  </ul>
</div>
<br>

<div class= btn-back-concerts>
  <%= link_to "Back to all Concerts", concerts_path %>
</div>
