.attending-card {
  display: flex;
  align-items: center;
  margin: 4px;
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 1px solid rgb(235,235,235);
}

.attending-card .attending-card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 14px;
}

.attending-card p {
  margin: 0;
  line-height: 1.4;
}
