.chatroom {
  // background: white;
  // margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .chat-title-gap {

  }

  .messages {
    height: 100%;
    overflow: scroll;
    // padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .chat-input-style {
    border-radius: 10px;
    padding: 8px;
    margin-top: 3px;
    background: white;
    border: none;
    width: 100%;

    border-radius: 7px;
    box-shadow: 0px 0px 8px lighten($navy, 75%);

  }

  .chat-form {
    padding-bottom: 18px;
  }
}
