.message-row {
  margin-bottom: 4px;
  padding: 8px;
}

.message_card {
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 1px solid rgb(235,235,235);
  text-decoration: none;
  width: 70%;
  max-width: 400px;
  padding: 8px;
  min-height: 80px;
}
