.concert-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 8px;
  border: 1px solid rgb(235,235,235);
  text-decoration: none;
}

.concert-card img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.concert-card .concert-card-content {
  flex-grow: 1;
  padding: 0 14px;
}

.concert-card p {
  margin: 0;
  line-height: 1.4;
  // color: red;
}

.concert-card p:link {
  margin: 0;
  line-height: 1.4;
}

.d-none {
  display: none;
}
