.menu-bar {
  background: $navy;
  color: $white;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  z-index: 1000;
  // top: 100vh;
}

.flex-icon {
  width: 18px;
  margin: 8px;
}
