.review-card {
  padding: 20px;
  object-fit: contain;
}

.review-card p {
  margin: 0;
}

.review-card-user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-card-user p {
  margin-left: 8px;
}

.review-card-media {
  text-align: center;
}

.review-card-media img {
  width: 80%;
}

.review-card-content p {
  margin-top: 10px;
}

.review-card-interactions {
  display: flex;
  justify-content: flex-end;
}

.review-card-rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
